@using System.Collections.Generic
@using WebKantora.Web.Models.ArticleViewModels
@using WebKantora.Data.Models
@model List<ArticleViewModel>

@{
    ViewData["Title"] = "Articles";
}

<h2>Articles</h2>

@foreach(var article in Model)
{
    <div><h3>@Html.ActionLink(@article.Title, "ById", "Blog", new { id = @article.Id }, null)</h3></div>
    <div>By: @article.Author</div>
    <div>@article.Content</div>
    <div>@article.Date</div>
}
