@using System.Collections.Generic
@using WebKantora.Web.Models.ArticleViewModels
@using WebKantora.Data.Models
@model List<ArticleViewModel>

@{
    ViewData["Title"] = "Articles";
}

<h2>Articles</h2>

@foreach(var article in Model)
{
    <h3><a asp-area="" asp-controller="Blog" asp-action="ById" asp-route-id="@article.Id">@article.Title</a></h3>
    <div>By: @article.Author</div>
    <div>@article.Content</div>
    <div>@article.Date</div>
}
